/* EventDetails.css */
.event-details-container {
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
}


.event-proposal-details {
  margin-top: 20px;
}

ul.event-table {
  list-style: none;
  padding: 0;
}

ul.event-table li {
  margin-bottom: 10px;
}

ul.event-table li strong {
  font-weight: bold;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}
