.form-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 50px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 width: 900px;;
  }
.bg-image {
    position:absolute;
    top: 10px;
    left: 380px;
    width: 800px;
    height: 60%;
    background-image: url('../images/stf.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1.1; 
  }

  .content {
    position:absolute;
    z-index: 1;
    padding: 20px;
    text-align: center;
    color: #000000;
  }
  
  .footers {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    color: #7f0d0d;
    padding: 20px;
    text-align: center;
  }
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }