.event-detail-container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative; /* Add this line */
}

.content {
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
  text-decoration-style: double;
}

.event-proposal-details4 {
  background-color: rgb(240, 229, 229);
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(208, 189, 189, 0.1);
}

ul.event-table {
  list-style: none;
  padding: 0;
  color: #0a223b;
}

ul.event-table li {
  margin: 10px 0;
  color: #000000;
}

.btn {
  background-color: #007bff;
  color: rgb(9, 5, 5);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}


.background-image4 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.event-details-content4 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  max-width: 500px;
  text-align: left;
  position: relative; /* Add this line */
  z-index: 1; /* Add this line to bring it to the front */
}
.bgh-image4 {
  background-image: url('../images/BrideToBe.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
 background-repeat: no-repeat;
  display: cover;
  align-items: cover;
  justify-content: cover; /* To center horizontally */
  
  opacity: 1.1; 
}
