/* eventDetail1.css */
.bgh-image1 {
    background-image: url('../images/freeEvent.jpg');
    background-size: cover;
    background-position: left top; /* Set background image to the left corner */
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .event-detail-container {
    background-color: rgba(0, 0, 0, 0.9); /* Add a semi-transparent white background to the details */
    width: 70%;
    margin: 0 auto; /* Center the details in the middle */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(23, 12, 12, 0.2);
    
  }
  
  .background-image {
    max-width: 100%;
  }
  
  .event-details-content {
    text-align: left;
  }
  
  /* Add any additional styling as needed for your content */
  