
.search-button {
    width: max-content; /* Adjust the width as per your requirement */
}

  .container {
    width: 100%;
    display: flex;
    /* Additional styling if needed */
    /* flex-direction, justify-content, align-items, etc. */
  }

  .right-align-container {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Center vertically within the container */
    margin-top: -55%;
  }
  .table{
    margin-left: 20%;
    margin-top: 10%;
  }

