
.incomeHead{
  width: auto;
 
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
}
.buttas{
  margin-top: auto;
}
.inputs{
  margin-top: 20vh;
  margin-left: 5vh;
}

.inputTypes{
  width: 40vh;
}
.AllIncomeTables{
  margin-left: -24vh;
}
.IncHead{
  margin-top: 10vh;
}
.totalIncome{
  width: 70vh;
  margin-top: 15vh;
  margin-left: 30vh;
}
.externalBtn{
  margin-left: 10vh;

}
.incomeUpdate{
  margin-left: 4vh;
  width: 10vh;
}