/* PaymentMeth.css */
.payment-background {
    background-image: url("undraw_online_transactions_-02-ka.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keeps the background image fixed while scrolling */
  }

.parent{
    background-image: url("../images/photo-1556742049-0cfed4f6a45d.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    
  }
  .btn1{
    margin-top: 15vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 40vh;
   
 
  flex-direction: column;
  

  }
  .btn2{
    margin-top: 15vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 40vh;
    margin-left: 10vh;
   
 
 
  

  }

/* PaymentMeth.css */
.cont1 {
  background-color: #363939;
  height: 50vh;
  width: 60vh;
  border: 3px solid #f0eeee;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); /* Adjust shadow values as needed */
  transform: perspective(1000px) rotateX(9deg); /* Adjust rotation angle as needed */
  transition: transform 0.5s ease-in-out; /* Add smooth transition effect */
  margin-left: 10vh;
  margin-top: 15vh;
}

.cont1:hover {
  transform: perspective(1000px) rotateX(0deg); /* Reset rotation on hover */
}
/* PaymentMeth.css */
.container.mt-5 {
  background-color: #8b9494;
  box-shadow: 0 0 60px 30px rgba(0, 0, 0, 0.2); /* Adjust shadow values as needed */
  display: fixed;
  border: 3px solid #0a0a0a;
}
h3{
  margin-top: 5vh;
  font-style: italic;
  color: #FFFFFF;
}
