.container {
  padding: 20px;
}

.card-logo {
  background-image: url('./stallImages/pizza mart.png'); /* Replace with your logo path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px; /* Adjust the height as needed */
}

h5 {
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 5px 0;
  font-size: 18px;
}

.active-category {
  color: #f44336; /* Change color for active category */
  font-weight: bold;
}

/* Style the search input */
.form-control {
  font-size: 18px;
}

/* Style the food item cards */
.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05); /* Add a hover effect to enlarge cards */
}

.card-title {
  font-size: 24px;
}

.card-text {
  font-size: 16px;
}

.card-footer {
  text-align: center;
  padding: 10px;
}

button {
  background-color: #3b4ccc; /* Button background color */
  color: #979393; /* Button text color */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #bcb9b9; /* Button background color on hover */
}