h1{
    margin-left: 20vh;
    
}
.btn1{

  flex-direction: column;
}
.btn2{
 margin-left: 10vh;

}
.text-left{
 
  flex-direction: column;
  margin-top: 25vh;
  margin-left: -25vh;
  
}
.bgh-img{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100vh; /* Set the container height to the viewport height for vertical centering */
    margin-top: 30vh;
    width: 100vh;
  
    background-color: rgb(132, 138, 138);
  }
.mx-uto{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    /* Set the container height to the viewport height for vertical centering */
    margin-top: 15vh;
    margin-right: 14vh;
    width: 50vh;

  }
.invoice-numb{
  margin-bottom: 5vh;
  margin-top: -20vh;
}
