@tailwind base;
@tailwind components;
@tailwind utilities;

body {
     
    background-size: cover;
  }

  .container {
    background-color: rgba(255, 255, 255, 0.8); /* Add transparency to the form background */
    padding: 2rem; /* Adjust padding as needed */
  }
